wcfinterface/SMSWcfService/test/Service References/ServiceReference/JzyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMSWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMSWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CunstomInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Card_id" type="xs:int" />
      <xs:element minOccurs="0" name="Card_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vip_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CunstomInfo" nillable="true" type="tns:CunstomInfo" />
</xs:schema>